# Requirements to test the source code (matching ramses_cc)
# - last checked/updated: 2026-01-28 (c.f. HA 2026.1.0)
#
# Note: requires ramses_cc v0.52.1 (pre-release) or later

# may need to use this version of ramses_rf...
# -e ~/client/ramses_rf

# for using the library with HA
# - pip list | grep -E 'pytest|voluptuous'

  -r requirements_dev.txt


# used for testing (incl. HA, pytest*, syrupy, voluptuous, etc.)
# - pytest

  pytest_homeassistant_custom_component >= 0.13.286
