node_modules/
htmlcov/
venv/
__pycache__/
*.min.js
docs/
tests/
scripts/
misc/
.eslintrc.json
.pre-commit-config.yaml
.prettierignore
.prettierrc
mypy.ini
package.json
package-lock.json
Makefile
README.md
.eslintignore
.editorconfig
.eslint.config.js
